body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.content-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-side {
    background-color: #090c11;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.text-and-image-container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-height: 100%;
    height: fit-content;
}

.main-title {
    font-size: 2.2vw;
    color: #ffffff;
    font-weight: 700;
    font-family: "Inter";
    text-align: center;
    margin-bottom: 2vh;
    line-height: 1.2;
    margin-top: 14vh;
    max-height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.image-container {
    text-align: center;
    max-width: 50vw;
    max-height: 50vw;
}

.image-container img {
    width: 25vw;
    height: auto;
    display: block;
    max-height: 100%;
    object-fit: contain;
}

.right-side {
    background-color: #ffffff;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chat-wrapper {
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
    padding-left: 5em;
    overflow: hidden;
}

#chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
}

#chat-header {
    background-color: #fff;
    color: #000;
    padding: 3vh;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 1.1em;
}

#reset-chat {
    display: flex;
    align-items: center;
    background: none;
    border: 1.5px solid black;
    border-radius: 25px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 2vh;
}

#reset-chat:hover {
    background-color: #394849;
    color: white;
    border-color: #394849;
}

#reset-chat:hover img {
    filter: invert(1);
}

#chat-messages::-webkit-scrollbar {
    width: 8px; /* Szerokość paska */
}

#chat-messages::-webkit-scrollbar-track {
    background: #f1f1f1; /* Kolor tła szyny paska */
}

#chat-messages::-webkit-scrollbar-thumb {
    background: #888; /* Kolor uchwytu paska */
    border-radius: 4px; /* Zaokrąglenie rogów uchwytu */
}

#chat-messages::-webkit-scrollbar-thumb:hover {
    background: #555; /* Kolor uchwytu po najechaniu myszą */
}

/* Dla Firefoxa */
#chat-messages {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 70vh;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    min-height: 15.625em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.message-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.message-avatar {
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404a4c;
}

.message-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#reset{
	display:none;
}

.message {
    padding: 10px 15px;
    border-radius: 14px;
    max-width: 80%;
    word-wrap: break-word;
    display: inline-block;
    font-size: 2.2vh;
}

@media (min-width: 1441px) {
    .message {
        font-size: 1.4vh; /* Wielkość czcionki dla ekranów powyżej 1200px szerokości */
    }

    .main-title {
        font-size: 5vh;
    }

    .image-container img {
        margin-top: 4vh;
    }

    #reset-chat {
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-size: 1.5vh;
    }

    #chat-header {
        padding-bottom: 2vh;
        padding-top: 2vh;
        padding-left: 3vh;
        padding-right: 3vh;
    }
}

.user-message {
    background-color: #394849;
    color: white;
    align-self: flex-end;
    margin-bottom: 5px;
    margin-top: 10px;
}

.user-message-container {
    justify-content: flex-end;
    align-self: flex-end;
}

.assistant-message {
    background-color: #20232c;
    color: #fff;
    align-self: flex-start;
    margin-top: 10px;
}

#chat-input-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    width: 100%;
    padding-top: 2vw;
}

#chat-input-frame {
    width: 100%;
    height: 70px;
    border-radius: 28px;
    background-color: white;
    position: relative;
}

#chat-input-frame input {
    width: 100%;
    height: 4vw;
    border-radius: 28px;
    background-color: white;
    border: 1.5px solid #0a0d12;
    padding-left: 2em;
    box-sizing: border-box;
}

    #chat-wrapper {
        padding-left: 3vh;
        max-width: 100%;
        display: none;
    }

#send-button {
    position: absolute;
    top: 2vw;
    right: 3px;
    transform: translateY(-50%);
    width: auto;
    min-width: 7em;
    height: 3.5vw;
    border-radius: 28px;
    background-color: #090c11;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 600;
    font-family: "Inter";
    cursor: pointer;
    padding: 0 15px;
}

#send-button:hover {
    background-color: #394849;
    border: none;
}

.typing-indicator {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0.5em;
}

.typing-indicator span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #aaa; /* Kolor kropek */
    border-radius: 50%;
    margin-right: 4px;
    animation: typing 1.4s infinite ease-in-out;
}

.image-container {
    text-align: center;
    max-width: 100vh;
    max-height: 100vh;
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {
    0% {
        transform: translateY(0);
        background-color: #aaa;
    }

    50% {
        transform: translateY(-4px);
        background-color: #888;
    }

    100% {
        transform: translateY(0);
        background-color: #aaa;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .left-side {
        display: none;
        width: 100%;
        height: auto;
    }

    .right-side {
        width: 100%;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    #chat-wrapper {
        padding-top: 60px; /* Dodaj padding do wrapper'a, aby treść nie była zasłonięta przez nagłówek */
        box-sizing: border-box;
        height: 100vh; /* Ustaw pełną wysokość viewportu */
        overflow: hidden; /* Ukryj overflow, aby uniknąć podwójnych pasków przewijania */
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    #chat-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #chat-header {
        position: fixed; /* Ustawienie nagłówka jako stałego */
        top: 0; /* Przyklejenie do góry ekranu */
        left: 0;
        right: 0;
        z-index: 100; /* Upewnienie się, że nagłówek jest nad innymi elementami */
        background-color: #fff; /* Upewnienie się, że tło zakrywa przewijane treści */
        padding-left: 5vw; /* Dodaj padding z lewej strony */
        padding-right: 5vw; /* Dodaj padding z prawej strony */
        box-sizing: border-box; /* Uwzględnienie paddingu w szerokości */
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-size: 2vh;
        align-items: center;
        width: 100%; /* Upewnij się, że zajmuje 100% szerokości */
        margin-left: 0;
        margin-right: 0;
    }

    #reset-chat {
		display:none;
    }

	#reset{
	display:contents;
	font-size:5vh
}

    #back-button {
        display: flex !important;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        font-family: 'Inter';
        padding-left: 0px;
        margin-right: 0px;
    }

    #chat-input-container {
        position: fixed; /* Ustawienie kontenera input jako stałego */
        bottom: 0; /* Przyklejenie do dołu ekranu */
        left: 0;
        right: 0;
        background-color: #fff; /* Opcjonalnie, jeśli chcesz tło dla kontenera input */
        padding-top: 2vw;
        padding-bottom: 2vh; /* Dodaj padding dolny */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        box-sizing: border-box;
        z-index: 100; /* Upewnienie się, że jest nad innymi elementami */
		padding-top:14vw;
    }

    .message {
        font-size: 2vh;
    }

	#cofnij{
		width:2.5em!important;
	}

	#napis{
		display:none;
	}

	#chat-messages {
        padding-top: 60px; /* Dostosuj wartość, aby zrobić miejsce na nagłówek (wysokość nagłówka + trochę przestrzeni) */
        padding-bottom: 1.25em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        overflow-y: auto; /* Upewnij się, że przewijanie jest włączone */
        height: auto; /* Pozwól na automatyczne dostosowanie wysokości */
        max-height: calc(100vh - 60px - 100px); /* Dostosuj max-height, odejmując wysokość nagłówka i kontenera input */
        box-sizing: border-box;
	}

    #send-button {
        font-size: 2.6vh;
        min-width: 6em;
		top: 2.8vh;
        height: 4.5vh;
    }

    #chat-input-frame input {
        padding-left: 1.5em;
		height:10vw;
    }

    .mobile-welcome-screen {
        display: flex; /* Pokaż na urządzeniach mobilnych */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: #090c11; /* Tło ciemne, jak na grafice */
        color: #ffffff; /* Domyślny kolor tekstu na ekranie powitalnym */
    }

    .mobile-welcome-screen .image-container {
        width: 45vh; /* Dostosuj szerokość kontenera obrazka */
        height: 50vh; /* Ustaw wysokość, aby był kwadratowy */
        border-radius: 50%; /* Zaokrąglij, aby uzyskać okrąg */
        overflow: hidden; /* Ukryj wystające części obrazka */
        margin-bottom: 2vh; /* Odstęp od tekstu */
        display: flex;
        justify-content: center;
        align-items: center;
		margin-bottom:10vh;
    }

    .mobile-welcome-screen .image-container img {
        width: 100vh!important; /* Wypełnij cały kontener */
        height: 100vh!important;
        object-fit: cover; /* Dopasuj obrazek, zachowując proporcje i przycinając */

    }

    .mobile-welcome-screen .main-title {
        margin-top: 0; /* Zmniejsz górny margines */
        margin-bottom: 7vh;
        font-size: 4vh; /* Zwiększ rozmiar czcionki tytułu */
        font-family: 'Inter', sans-serif; /* Upewnij się, że używasz właściwej czcionki */
        font-weight: 700; /* Pogrubienie tekstu */
        text-align: center;
        line-height: 1.2;
    }

    #start-chat-button {
        background-color: #ffffff; /* Białe tło przycisku */
        color: #090c11; /* Ciemny tekst przycisku */
        font-size: 2.5vh; /* Dostosuj rozmiar czcionki przycisku */
        font-weight: 600;
        font-family: "Inter", sans-serif;
        cursor: pointer;
        padding: 1.5vh 3vh; /* Większe paddingi dla większego przycisku */
        border-radius: 28px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #start-chat-button:hover {
        background-color: #f0f0f0; /* Jaśniejsze tło przy najechaniu */
        border: none;
    }
}

/* Style dla desktop - ukryj ekran powitalny domyślnie */
@media (min-width: 769px) {
    .mobile-welcome-screen {
        display: none;
    }

    #chat-wrapper {
        display: flex; /* Pokaż wrapper czatu na desktopie */
    }
}
